*.class

# Package Files #
*.jar
*.war
*.ear
bin/
libs/
gen/

project.properties

default.properties

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/